.add-contact-window {
    z-index: 1000;
    background-color: var(--white-color);
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 592px;
    width: 1212px;
    border-radius: 30px 30px 30px 30px;
}

.add-contact-left-side {
    display: flex;
    white-space: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 594px;
    padding: 66px 46px 66px 46px;
    border-radius: 30px 0 0 30px;
    gap: 12px;
    background-color: var(--main-color);
}

#add-contact-form {
    width: 100%;
}


.color-picker-popup-add {
    position: relative;
    z-index: 100;
    left: 40px;
    top: -20px;
    display: none; /* Initially hidden */
}


@media (max-width: 1220px) {
    /* add-contact-mobile-version */
    .add-contact-window {
        flex-direction: column;
        width: 80vw;
        height: calc(100vh - 180px);
        position: fixed;
        
    }

    .add-contact-left-side {
        border-radius: 30px 30px 0px 0px;
        padding: 24px 24px 132px 24px;
        justify-content: flex-start;
        height: auto;
        gap: 0px;
    }

    .color-picker-popup-add {
        position: relative;
        margin: 0px;
        top: 100px;
        left: -20px;
        display: none; /* Initially hidden */
    }

    .add-contact-left-side {
        white-space: inherit;
    }
    
    .user-initials-icon-add {
        top: 60px;
        left: 0;
    }

    .user-initials-icon-box {
        width: 100%;
    }
}