.addtask {
  margin: 110px 0 0 328px;
  width: fit-content;
  font-size: 20px;
  font-weight: 400;
}

h1 {
  font-size: 61px;
  font-weight: 700;
  color: #000;
  margin-block-start: 0;
  margin-block-end: 0;
}

.asterisk {
  color: #ff8190;
}

.form-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
}

.formbox {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 100%;
}

.form-line {
  width: 1px;
  background-color: #d1d1d1;
  margin: 0 48px 0 48px;
}

::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #d1d1d1;
}

label {
  margin-bottom: 8px;
  display: flex;
}

input {
  height: 48px;
  padding: 12px 21px 12px 21px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  margin-bottom: 32px;
}

textarea {
  padding: 18px 16px 18px 16px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  margin-bottom: 32px;
}

select {
  height: 48px;
  padding: 10px 16px 10px 16px;
  font-size: 20px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  margin-bottom: 32px;
}

#date {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #d1d1d1;
}

.prio {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 32px;
}

.prio input[type="radio"] {
  display: none;
}

#urgent:checked + span {
  background-color: #ff3d00;
  color: #fff;
}

#medium:checked + span {
  background-color: #ffa800;
  color: #fff;
}

#low:checked + span {
  background-color: #7ae229;
  color: #fff;
}

.prio input[type="radio"]:hover + span {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.prio span {
  width: 136px;
  height: 56px;
  display: inline-block;
  border-radius: 10px;
  background-color: #fff;
  color: black;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.prio span img {
  margin-left: 8px;
}

.profile {
  height: 42px;
  width: 42px;
  border: 2px solid #fff;
  background-color: red;
  color: #fff;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 146px;
}

.buttons {
  display: flex;
  gap: 16px;
}

.clear-form {
  width: 110px;
  height: 56px;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  background-color: var(--background-color);
  color: var(--main-color);
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.clear-form:hover {
  border: 2px solid var(--second-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--second-color);
}

.clear-form:active {
  border: 2px solid var(--menu-selected-color);
  color: var(--menu-selected-color);
}

.clear-form img {
  margin-left: 4px;
}

.create-task {
  width: 183px;
  height: 56px;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: white;
  font-size: 21px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.create-task img {
  margin-left: 4px;
}

.create-task:hover {
  background-color: var(--second-color);
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.create-task:active {
  background-color: var(--menu-selected-color);
}

/* dropdown */

.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: #fff;
  height: 48px;
  font-size: 20px;
  margin-bottom: 32px;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
}



/* responsive */

@media (max-width: 1340px) {
  .form-wrapper {
    flex-direction: column;
  }
  .form-line {
    display: none;
  }
}

@media (max-width: 950px) {
  .addtask {
    margin: 110px 20px 0 20px;
    padding-bottom: 75px;
  }

  footer {
    margin-top: 0;
  }

  #clear-form {
    display: none;
  }
}
