.contacs-aside {
    position: fixed;
    top:-260px;
    left: 26.5px;
    padding: 32px 24px 32px 24px;
    width: 400px;
    height: 1188px;
    background-color: #FFFFFF;
}

.contact-box {
    gap: 21px;
    display: flex;

}

.contacts-main {
    display:flex;
    flex-direction: column;
    gap: 30px;
}

.contacts-header {
    display: flex;
    gap: 30px;
    margin-left: 58px;
    align-items: center;
}

.contacts-seperator {
    height: 59px;
    border: 3px solid var(--second-color);
}

.contact-slogan {
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    color: var(--main-color);
}

.user-initials-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    color: white;
    background-color: var(--color10);
    border-radius: 70px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    border: 3px solid #FFFFFF;
    line-height: 56.4px;
    font-size: 47px;
    font-weight: 500;
    gap: 10px;
}