.contacts {
    display: flex;
}
.contacts-aside {
    width: 453px;
    height: 928px;
    position: fixed;
    top: 96px;
    left: 232px;
    background: #FFFFFF;
    box-shadow: 4px 0px 6px 0px #00000014;
    /* // On click
    // Navigate to: "Contacts default";
    // Animate: Instant;
    animation-duration: 0ms; */
}

.contact-box {
    margin: 7px;
    gap: 21px;
    display: flex;
    align-items: center;
}

.contacts-name {
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    text-align: left;
    color: var(--black-color)
}

.contacts-main {
    margin-left: 511px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contacts-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.contacts-seperator {
    height: 59px;
    border: 3px solid var(--second-color);
}

.contact-slogan {
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    color: var(--main-color);
}

.user-initials-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    color: white;
    background-color: var(--color10);
    border-radius: 70px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    border: 3px solid #FFFFFF;
    line-height: 56.4px;
    font-size: 47px;
    font-weight: 500;
    gap: 10px;
}

.contacts-change-icons {
    width: 24px;
    height: 24px;
}

.contacts-icon-text {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    gap: 8px;
}

.contacts-change-link {
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.contact-info-headline {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    width: 207px;
    height: 74px;
}

.contacts-information-box {
    width: Hug (146px)px;
    height: Hug (128px)px;
    gap: 22px;
    opacity: 0px;

}

.contacts-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

.contacts-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

.contacts-info-object-headline {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;
}

.contacts-info-object {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}