.edit-contact-window {
    z-index: 1;
    background-color: var(--white-color);
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 592px;
    width: 1212px;
    border-radius: 30px 30px 30px 30px;
}

.h1-edit-contact {
    position: relative;
    width: 361px;
    height: 90px;
    gap: 0px;
    opacity: 0px;
    color: var(--white-color);
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
}

.h1-edit-contact::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90px;
    height: 3px; 
    background-color: var(--line-color);
    transform-origin: bottom left;
}

.edit-join-logo {
    width: 53.93px;
    height: 66.48px;
    position: absolute;
    top: 25%;
    left: 46px;
    
}

.edit-contact-left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 453px;
    height: 594px;
    padding: 66px 46px 66px 46px;
    border-radius: 30px 0 0 30px;
    gap: 12px;
    opacity: 0px;
    background-color: var(--main-color);
}

.edit-contact-right-side {
}

.edit-save-button {
    background: var(--main-color);
    color: var(--white-color);
    /* // On click
    // Navigate to: "Contacts- View contact - Anton";
    // Animate: Smart animate; */
    animation-timing-function: ease-in-out;
    animation-duration: 100ms;
    width: 111px;
    height: 57px;
    padding: 16px 16px 16px 16px;
    border-radius: 10px 10px 10px 10px;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: center;
}

.edit-delete-button {
    font-size: 21px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: center;
    width: 113px;
    height: 55px;
    padding: 15px 24px 15px 24px;
    border-radius: 8px 8px 8px 8px;
    border: 1px 0px 0px 0px;
    background: var(--white-color);
    border: 1px solid var(--main-color);
    /* // On click
    // Navigate to: "Contacts - Anton Deleted";
    // Animate: Instant; */
    animation-duration: 0ms;
}

.edit-close-icon {
    
}

.edit-input-name {
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
    background-image: url('./assets/img/icons/user.svg');
}

.edit-input-phone {
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
    background-image: url('./assets/img/icons/phone.svg');
}

.edit-input-email {
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
    background-image: url('./assets/img/icons/email.svg');
}

.contacts {
    display: flex;
}

.contacts-aside {
    width: 453px;
    height: 928px;
    position: fixed;
    top: 96px;
    left: 232px;
    background: #FFFFFF;
    box-shadow: 4px 0px 6px 0px #00000014;
    /* // On click
    // Navigate to: "Contacts default";
    // Animate: Instant;
    animation-duration: 0ms; */
}

.aside-top-button-bar {
    display: flex;
    width: 453px;
    height: 101px;
    justify-content: center;
    align-items: center;
}

.add-contact-button {
    text-align: center;
    width: 352px;
    height: 56px;
    top: 22.5px;
    left: 52px;
    padding: 12px 0px 12px 0px;
    gap: 16px;
    border-radius: 10px 10px 10px 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    color: var(--white-color);
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    /* // On click
// Open overlay: "Overlay add contact";
// Animate: Instant;
animation-duration: 0ms; */
}

.contacts-list-alphabet-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 453px;
}

.contacts-list-seperator {

    width: 352px;
    border: 1px solid var(--contactlist-seperator);
}

.contacts-list-alphabet {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    display: flex;
    align-items: center;
    width: 352px;
    height: 58px;
    padding: 17px 36px 17px 36px;
    gap: 8px;
    opacity: 0px;
}

.contact-box {
    margin: 7px;
    gap: 21px;
    display: flex;
    align-items: center;
}

.contacts-name {
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    text-align: left;
    color: var(--black-color)
}

.contacts-main {
    margin-left: 511px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contacts-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.contacts-seperator {
    height: 59px;
    border: 3px solid var(--second-color);
}

.contact-slogan {
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    color: var(--main-color);
}

.user-initials-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    color: white;
    background-color: var(--color10);
    border-radius: 70px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    border: 3px solid #FFFFFF;
    line-height: 56.4px;
    font-size: 47px;
    font-weight: 500;
    gap: 10px;
}

.contacts-change-icons {
    width: 24px;
    height: 24px;
}

.contacts-icon-text {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    gap: 8px;
}

.contacts-change-link {
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.contact-info-headline {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    width: 207px;
    height: 74px;
    color: var(--main-color);
}

.contacts-information-box {
    width: 146px;
    height: 128px;
    gap: 22px;
    opacity: 0px;

}

.contacts-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    color: var(--main-color);
}

.contacts-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    color: var(--main-color);
}

.contacts-info-object-headline {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;
    color: var(--main-color);
}

.contacts-info-object-email {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: var(--link-color);
}

.contacts-info-object-phone {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: var(--black-color);
}