.legalnotice-head {
    display: flex;
    max-width: 1014px;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.legalnotice-section {
    display: flex;
    flex-direction: column;
    margin-left: 328px;
    margin-top: 110px;
    gap: 32px;
    max-width: 1014px;
    margin-right: 20px;
}

.legalnotice-main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.imprint {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.imprint-li {
    margin-left: 25px;
}