.left-container {
    width: 232px;
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0;
    position: absolute;
    inset: 0;
}
.nav-bar-menu {
    width: 232px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.nav-bar-menu-point {
    padding: 8px 56px;
    gap: 8px;
    width: 232px;
    cursor: pointer;
}

.nav-bar-menu img, span, a {
    vertical-align: middle; 
    color: #CDCDCD;
    text-decoration: none;
    font-size: 16px;
}

.nav-bar-menu-point:hover {
    background-color: #2A3D59;
}

.nav-bar-menu img {
    height: 30px;
    width: 30px;
}

.nav-bar-logo {
    margin-bottom: 114.02px;
}

.nav-bar-logo img {
    height: 121.97px;
    width: 100.03px;
}

.selected-menu-point {
    color: #ffffff;
    background-color: var(--menu-selected-color);
}

.selected-menu-point span {
    color: #ffffff;
}

.selected-menu-point:hover {
    cursor: context-menu !important;
    background-color: var(--menu-selected-color);
}

.nav-bar-info {
    width: 232px;
    display: flex;
    flex-direction: column;
    padding: 0px 52px;
    gap: 4px;
}

.nav-bar-info a {
    color: #A8A8A8;
    padding: 8px;
    font-weight: 400;
}

.nav-bar-info a:hover {
    color: var(--second-color);
    font-weight: 700;
}



