.privacy-textbox {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #000000;
    max-width: 1016px;
    padding-bottom: 16px;
    padding-right: 35px;
}

.headline-privacy-layout {
    gap: 30px;
}

.privacy-head {
    display: flex;
    max-width: 1016px;
    padding-right: 35px;
    align-items: center;
    justify-content: space-between;
}

.backarrow {
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backarrow-link {
    cursor: pointer;
}

.backarrow-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 18.5px;
}

.privacy-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 328px;
    margin-top: 110px;
}

.privacy-main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.privacy-article {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 950px){
    .privacy-section {
        margin-left:35px;
    }
}