* {
    margin: 0;
    padding: 0;
    font-family: Inter;
    box-sizing: border-box;
    color: var(--black-color);
}

:root {
    --background-color: #F6F7F8;
    --main-color: #2A3647;
    --second-color: #29ABE2;
    --menu-selected-color: #091931;
    
    --black-color: #000000;
    --white-color: #ffffff;

    --urgent-color: #FF3D00;
    --medium-color: #FFA800;
    --low-color: #7AE229;

    --userstory-color: #0038FF;
    --technicaltask-color: #1FD7C1; 
    --contactlist-seperator: #D1D1D1;
     
    --link-color: #007CEE;
    --line-color: #29ABE2;

    --color1: #FF7A00;
    --color2: #FF5EB3;
    --color3: #6E52FF;
    --color4: #9327FF;
    --color5: #00BEE8;
    --color6: #1FD7C1;
    --color7: #FF745E;
    --color8: #FFA35E;
    --color9: #FC71FF;
    --color10: #FFC701;
    --color11: #0038FF;
    --color12: #C3FF2B;
    --color13: #FFE62B;
    --color14: #FF4646;
    --color15: #FFBB2B;
}

body {
    background-color: var(--background-color);
    display: flex;
    width: 100vw;
    height: 100vh;
}

@font-face {
    font-family: 'Inter';
    src: url('./font/Inter-VariableFont_slnt\,wght.ttf');
}

h1 {
    font-size: 61px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 47px;
}

h4 {
    font-size: 27px;
}

h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.d-none {
    display: none;
}

.g-8 {
    gap: 8px;
}

.g-16 {
    gap: 16px;
}

.g-35 {
    gap: 35px;
}

.mt-32 {
    margin-top: 32px;
}