.title-area {
    display: flex;
    align-items: center;
    gap: 30px;
}

h1 {
    color: var(--black-color);
}

hr {
    height: 59px;
    width: 3px;
    background-color: var(--second-color);
    border: none;
}

.title-area p {
    font-size: 27px;
}

.info-area {
    display: flex;
    height: 562px;
    margin-top: 56px;
}

.summary-area {
    width: 560px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.to-do-and-done {
    display: flex;
    justify-content: space-between;
    height: 168px;
    width: 560px;
}

.to-do, .to-do2 {
    width: 264px;
    height: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 38px 19px;
    border-radius: 30px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    gap: 18px;
}

.to-do:hover h2, .to-do2:hover h2, .to-do:hover p, .to-do2:hover p {
    color: var(--white-color);
}

.to-do:hover, .to-do2:hover {
    background-color: var(--main-color);
    cursor: pointer;
}

.to-do img:last-child, .to-do2 img:last-child {
    display: none;
}

.to-do:hover img:last-child, .to-do2:hover img:last-child {
    display: block;
}

.to-do:hover img:first-child, .to-do2:hover img:first-child {
    display: none;
}

.done {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 64px;
    font-weight: 600px;
    color: var(--black-color);
}

.urgent-date-time {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 560px;
    height: 168px;
    background-color: var(--white-color);
    border-radius: 30px;
    padding: 28px 48px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.urgent-date-time:hover {
    background-color: var(--main-color);
    cursor: pointer;
}

.urgent-date-time:hover h2, .urgent-date-time:hover p, .urgent-date-time:hover h4{
    color: var(--white-color);
}

.urgent {
    display: flex;
    align-items: center;
    width: 130px;
    gap: 18px;
}

.urgent-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.separat-bar hr {
    height: 102.02px;
    width: 2px;
    background-color: #D1D1D1; 
}

.summary-greeting {
    height: 562px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

h3 {
    font-size: 47px;
    font-weight: 500px;
    color: var(--black-color);
}

.summary-greeting h2 {
    font-size: 64px;
    font-weight: 700px;
    color: var(--second-color);
}

.tasks-container {
    display: flex;
    justify-content: space-around;
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 168px;
    background-color: var(--white-color);
    padding: 25px;
    gap: 13px;
    border-radius: 30px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.task p {
    text-align: center;
    font-size: 20px;
    word-wrap: break-word;
    color: var(--black-color);
}

.task:hover {
    background-color: var(--main-color);
    cursor: pointer;
}

.task:hover h2, .task:hover p {
    color: var(--white-color);
}

.hover-effect:hover {
    transform: scale(1.05);
    transform-origin: top left; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.main-margin {
    margin-left: 328px;
    margin-top: 110px;
}

@media (max-width: 950px){
    .main-margin {
        margin-left: 0px;
        margin-top: 128px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1200px) {
    .summary-greeting {
        display: none;
    }
}

@media (max-width: 650px) {
    .title-area {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        margin-left: 16px;
    }
    
    h1 {
        font-size: 47px;
    }
    
    hr {
       display: none;
    }
    
    .title-area p {
        font-size: 20px;
    }
    
    .info-area {
        height: unset;
        margin-top: unset;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .summary-area {
        margin-top: 40px;
        margin-left: 16px;
        width: 396px;
        height: 384px;
    }
    
    .summary-area img {
        height: 40px;
        width: 40px;
    }
    
    .to-do-and-done {
        height: 110px;
        width: 396px;
    }
    
    .to-do, .to-do2 {
        width: 186px;
        height: 110px;
        padding: 38px 19px;
        border-radius: 20px;
        gap: 10px;
    }
    
    .urgent-date-time {
        width: 396px;
        height: 110px;
        padding: 28px 56.5px;
        gap: 20px;
    }
    
    .tasks-container {
        height: 110px;
        width: 396px;
    }
    
    .task {
        width: 116px;
        height: 116px;
        padding: 25px;
        border-radius: 20px;
    }
    
    .task p {
        font-size: 16px;
    }
}
